<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">
		<div class="row">
			<footer>
			<div class="col-sm-12">
				<div class="footer contentbox" id="footer">
				<span sec:authorize="isAuthenticated()"> 
		                Eingelogged als: 
		                <a th:href="@{/authenticatedUsers/changePassword/{id}(id=${#authentication.principal.id})}">
		                	<span sec:authentication="name"/>
		                </a> 
		                |
		                Rollen: <span sec:authentication="principal.authorities"></span> |
		                <a th:href="@{/logout}">Ausloggen</a>
		            </span> 
					<p id="copyright">Alle Rechte vorbehalten &copy; CRM International Inc.</p>
				</div>
			</div>
			</footer>
		</div>
	</div>
</body>
</html>
		